/* Google Phonts */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

* {
    z-index: 1;
    -webkit-text-size-adjust: auto;

    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
    height: 300px;
    max-width: 100%;
}

/* Animations (Keyframes) */
@keyframes transitionPage {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes contentTransition {
    from {
        transform: translateX(-60px);
    }
    

    to {
        transform: translateX(0);
    }
}

@keyframes navbarTransition {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }
    

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes buttonTransition {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-60px);
    }
}

@keyframes cardsTransition {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    70% {
        transform: translateY(-50px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes searchTransition {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes menuTransition {
    0% {
        left: 100%;
        position: relative;
    }

    100% {
        left: 0;
        visibility: visible;
        position: relative;
    }
}

@keyframes aboutUsTransition {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0.8;
    }
}

/* Header block */
.Header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 12%;
    min-height: 70px;

    z-index: 3;

    background-color: rgb(255, 50, 50)
}

/* Mednat.org */
.Logo {
    min-width: 200px;
    width: 20%;
    height: 100%;
    position: relative;

    display: flex;
    align-items: center;

    padding-left: 10px;

    font-family: 'Calistoga', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    text-decoration: none;

    z-index: 3;

    color: #FFFFFF;
}

/* Navigation Bar */
.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    animation: navbarTransition 1.5s;
}

.Navbar > li > a.active {
    border-bottom: 3px solid #FFFFFF;
}

.Navbar > li > a {
    padding: 10px 10px;

    text-decoration: none;
    font-family: 'Calistoga', cursive;
    font-size: 1.75em;

    color: #FFFFFF;
    
    transition: border-bottom 0.1s ease-out;
}

.Navbar > li > a:hover {
    border-bottom: 3px solid #FFFFFF;
}

/* Navbar slider */
.hamburger {
    display: none;
    position: relative;

    width: 60px;
    height: 70px;

    cursor: pointer;

    z-index: 3;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.mobile-navbar {
    display: none;
}

/* Main block(-s) */
.Main_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;

    z-index: 0;

    width: 100%;
    height: 88vh;

    padding: 10% 0;
    
    animation: transitionPage 0.75s;
}

.Categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Pharmacy {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    background: url(Assets/pharmacy.png) center center;
    background-size: fill;
    background-repeat: no-repeat;
}

.Results {
    background: url(Assets/vase_results1.jpg) center center;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
}

.About_us_block {
    background: url(Assets/about_us_background2.png);

    z-index: 0;

    padding-bottom: 0;
}

.Browse_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: url(Assets/browse_search.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Img_doctor {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 600px;
    height: 600px;
}

.Img2 {
    left: 7%;
}

/* Buttons (Wax Moth, Covid 19 and etc. */
#Buttons {
    display: flex;
    flex-direction: column;

    min-width: 320px;
    min-height: 250px;
    width: 35%;
    height: 85%;

    animation: contentTransition 1.5s
}

#Buttons > li {
    display: block;

    width: 100%;
    height: 100%;

    box-shadow: inset 0 0 0 0 #D70000;
    transition: ease-out 0.5s;

    background-color: rgba(0, 47, 215, 0.7);

    border-radius: 25px 0 0 25px;

    visibility: hidden;
}

#Buttons > li:not(:last-child) {
    margin-bottom: 5%;
}

#Buttons > li > a {
    display: flex;
    align-items: center;
    
    height: 100%;

    text-decoration: none;
    font-family: 'Calistoga', cursive;
    font-size: 2.2em;
    padding: 0 5%;

    color: #FFFFFF; 
}

#Buttons > li:hover{
    box-shadow: inset 34rem 0 0 0 rgb(255, 50, 50);
}

#Link-1 {
    animation: menuTransition 1s forwards;
    animation-delay: 0s;
}

#Link-2 {
    animation: menuTransition 1s forwards;
    animation-delay: 0.15s;
}

#Link-3 {
    animation: menuTransition 1s forwards;
    animation-delay: 0.25s;
}

#Link-4 {
    animation: menuTransition 1s forwards;
    animation-delay: 0.30s;
}

/* Buttons' background */
.Img_leaves {
    position: absolute;
    z-index: -1;

    width: 700px;
    height: 800px;

    bottom: 0;
    right: 0;
}

/* About Us Info Block */
.Info_about_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 300px;
    height: 100%;
    width: 25%;

    border-radius: 130px 0 0 0;

    font-family: 'Calistoga', cursive;
    font-size: 1.5em;

    color: #FFFFFF;
    background-color: rgb(255, 27, 27);
    opacity: 80%;

    animation: aboutUsTransition 1.5s
}

#contact_info {
    margin-top: 20%;

    text-align: center;
}

.About_us {
    text-align: center;

    padding: 5%;
}

.About_us:not(:last-child) {
    position: relative;
    top: 5%;
    padding-bottom: 5%;
}

#e-mail{
    width: 267px;
}

#mobile_number {
    width: 267px;

    margin-top: 20%;
    margin-bottom: 10%;
}

#submitButton {
    width: 60.5px;
    height: 60.5px;

    background: url(Assets/browse_searchicon.png) center center;
    background-size: cover;

    border: none;

    z-index: 1;
}

#searchLogo {
    display: none;
}

/* SearchBar */
#searchInput {
    width: 100%;
    height: 90%;

    border: 3px solid black;
    border-radius: 0;

    font-size: 2.5em;
}

#searchBar {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    animation: searchTransition 1.5s;
}

#searchContent {
    width: 50%;
    height: 10%;
}

#searchParagraph {
    text-align: center;
    margin-bottom: 5%;

    font-size: 2rem;
    font-weight: bold;

    color: #FFFFFF;
    opacity: 70%;
}

/* Slideshow (Categories Slides) */
.slider {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 767px;
    height: 464px;
}

.slides {
    width: 78.1%;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
}

.slides input {
    display: none;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: 2s;
}

/* Category Cards */
.categoryName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 2em;

    border-radius: 0 0 15px 15px;

    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;

    background-color: rgb(255, 50, 50);
    color: white;

    transition: 0.3s;
}

.categoryName:hover{
    background-color: #D70000;
}

.category {
    width: 600px;
    height: 400px;

    border-radius: 15px 15px 0 0;
}

.photo_1 {
    background: url(Assets/medical_equipment2.png) center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.photo_2 {
    background: url(Assets/viruses.png) center center;
    background-size: 100%;
    background-repeat: no-repeat;

    width: 594px;
    height: 394px;

    border: 3px solid #D70000;
}

.photo_3 {
    background: url(Assets/stds.png) center center;
    background-size: 100%;
}

.photo_4 {
    background: url(Assets/pharmacy_category.png) center center;
    background-size: 100%;
}

/* Manual Navigation for Slider */
.manual-navigation {
    position: absolute;
    display: flex;
    justify-content: center;

    width: 607px;
    height: 1%;

    margin-top: -537.6px;
}

.manual-btn {
    border: 2px solid #D70000;
    padding: 5px;
    border-radius: 10px;

    cursor: pointer;

    transition: 0.5s;

    margin-bottom: 5px;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #D70000;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -600px;
}

#radio3:checked ~ .first {
    margin-left: -1200px;
}

#radio4:checked ~ .first {
    margin-left: -1800px;
}

/* Automated Navigation */
.automatic-navigation {
    position: absolute;
    display: flex;
    justify-content: center;

    width: 607px;
    height: 1%;
    margin-top: -537.6px;
}

.automatic-navigation div:not(:last-child) {
    margin-right: 40px;
}

.automatic-navigation div {
    border: 1.9px solid #D70000;
    border-radius: 10px;
    padding: 5px;

    transition: 1s;
}

#radio1:checked ~ .automatic-navigation .auto-btn1 {
    background: #D70000;
}

#radio2:checked ~ .automatic-navigation .auto-btn2 {
    background: #D70000;
}

#radio3:checked ~ .automatic-navigation .auto-btn3 {
    background: #D70000;
}

#radio4:checked ~ .automatic-navigation .auto-btn4 {
    background: #D70000;
}

/* Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 20px 0;

    background: rgb(255, 50, 50);
}

/* Page Columns */
#footer-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    width: 150px;
}

.column-text {
    font-family: 'Calistoga', cursive;
    font-size: 1.5rem;
    text-align: center;

    padding: 10px;

    color: #FFFFFF;

    text-decoration: underline;
}
.column-info {
    text-align: center;
    font-size: 1.1em;

    color: #FFFFFF;
}

/* Details Block */
#details {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80%;

    margin-top: 50px;
}

.contact-details {
    font-size: 1.6em;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    
    color: #FFFFFF;
}

#number {
    width: 65px;
}

#copyright-text {
    font-size: 1.5rem;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;

    color: #FFFFFF;
}

/* pharmacy.html */
#Mednat-pharmacy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: 345px;
    min-height: 500px;
    height: 60%;
    width: 30%;

    margin-top: 10%;
    margin-left: 10%;
}

/* Text class and id-s */
.pharmacy {
    font-family: 'Calistoga', cursive;
    font-size: 2em;

    color: rgba(0, 47, 215, 0.7);
}

#delivery {
    font-size: 1.3em;
}

#label{
    font-size: 3em;

    border-bottom: 5px solid #FFFFFF;
    padding-bottom: 30px;
}

#info {
    color: #D70000;

    border-left: 5px solid #FFFFFF;
    padding-left: 30px;
    margin-top: 30px;
}

/* results.html */
#results-box {
    height: 100%;

    margin-right: 100px;

    font-family: 'Calistoga', cursive;
}

#result-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 70%;
}

.result {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 120px;

    animation: cardsTransition 0.5s ease forwards;
}

.card2 {
    visibility: hidden;
    animation-delay: 0.2s;
}

.website-name {
    font-size: 2em;

    color: #D70000;
}

.visit {
    width: 200px;
    height: 70px;

    border: none;

    font-size: 1em;
    font-family: 'Calistoga', cursive;

    color: #FFFFFF;
    background-color: rgba(0, 47, 215, 0.7);

    transition: width 0.2s ease-out, height 0.2s ease-out;
}

.visit:hover {
    width: 225px;
    height: 77.5px;
}

#results-number {
    font-size: 2em;

    border-bottom: 5px solid #FFFFFF;
    padding-bottom: 15px;

    color: rgba(0, 47, 215, 0.7);
}

@media screen and (max-width: 1200px) {
    #Buttons > li > a {
        font-size: 2em;
    }

    footer > #footer-navbar > .column > .column-text {
        font-size: 1.2em;
    }

    #Mednat-pharmacy {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 960px) {
    .Main_block {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Pharmacy {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .Results {
        flex-direction: row-reverse;
    }

    .visit {
        transition: background-color 0.2s ease-out;
    }

    .visit:hover {
        background-color: rgb(26, 71, 236);
        width: 200px;
        height: 70px;
    }

    #results-box {
        margin: 0;
    }

    .Navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger .bar, .hamburger::after, .hamburger::before {
        display: block;
        
        width: 100%;
        height: 5px;
        
        content: '';
    
        margin: 6px 0;
    
        transition: 0.4s;

        z-index: 3;
    
        background-color: #FFFFFF;
    }

    .hamburger.is-active::before {
        transform: rotate(-45deg) translate(-8px, 6px);

        background-color: rgb(255, 50, 50);
    }

    .hamburger.is-active::after {
        transform: rotate(45deg) translate(-8px, -8px);

        background-color: rgb(255, 50, 50);
    }

    .hamburger.is-active > .bar {
        opacity: 0;

        background-color: rgb(255, 50, 50);
    }

    .Logo.is-active {
        color: rgb(255, 50, 50);
    }

    .mobile-navbar {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
    
        width: 100%;
        min-height: 100vh;
    
        padding-top: 20%;
    
        z-index: 2;
    
        background-color: #FFFFFF;

        transition: left 0.3s ease-out;
    }

    .mobile-navbar.is-active {
        left: 0;
    }

    .mobile-navbar > a {
        display: block;
        text-align: center;

        width: 40%;
        min-width: 310px;

        margin: auto;
        margin-bottom: 16px;
        padding: 20px 16px;

        font-size: 2em;
        font-family: 'Calistoga', cursive;

        color: #FFFF;
        background-color: rgb(57, 95, 233);

        transition: background-color 0.2s ease-out; 
    }

    .mobile-navbar > a:hover {
        background-color: rgb(0, 61, 230);
    }

    #Buttons {
        width: 70%;
    }

    #Buttons > li {
        border-radius: 0;

        background-color: rgb(57, 95, 233);

        transition: background-color 0.2s ease-in-out;
    }

    #Buttons > li:hover {
        background-color: rgb(255, 50, 50);
        box-shadow: inset 0 0 0 0;

    }

    #Buttons > li > a {
        justify-content: center;

        font-size: 2.5em;
    }

    .Img_doctor {
        display: none;
    }

    .Info_about_us{
        border-radius: 0;

        width: 100%;
        height: 100vh;

        font-size: 2em;

        background: none;
        color: rgb(36, 78, 231);

        animation: none;
    }

    #contact_info {
        margin-top: 10%;
    }

    footer {
        font-size: 1em;
    }

    footer > #details > h1{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 700px) {
    #results-box {
        margin-top: 100px;
    }

    .slider {
        width: 576px;
        height: 300px;
    }

    .category {
        width: 450px;
        height: 300px;
    }

    .photo_2 {
        width: 444px;
        height: 291px;
    }
    
    .manual-navigation {
        width: 460.5px;

        margin-top: -400px;
    }

    .automatic-navigation {
        width: 460.5px;

        margin-top: -400px;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .first {
        margin-left: -450px;
    }
    
    #radio3:checked ~ .first {
        margin-left: -900px;
    }
    
    #radio4:checked ~ .first {
        margin-left: -1350px;
    }

    .categoryName {
        font-size: 1.3em;
    }

    #Buttons { 
        margin-top: 40px;
    }

    #Buttons > li > a {
        font-size: 2.2em;
    }

    #searchBar {
        font-size: 0.7em;
    }

    #searchParagraph {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    #Buttons {
        height: 400px;
    }

    #Buttons > li > a {
        font-size: 2em;
    }

    .Logo {
        font-size: 2.5em;
    }

    .slider {
        width: 384px;
        height: 200px;
    }
    
    .category {
        width: 300px;
        height: 200px;
    }

    .photo_2 {
        width: 294px;
        height: 194px;
    }
    
    .manual-btn {
        padding: 3px;
    }

    .automatic-navigation > div {
        padding: 3px;
    }
    
    .manual-navigation {
        width: 307px;

        margin-top: -337px;
    }

    .automatic-navigation {
        width: 307px;

        margin-top: -337px;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .first {
        margin-left: -300px;
    }
    
    #radio3:checked ~ .first {
        margin-left: -600px;
    }
    
    #radio4:checked ~ .first {
        margin-left: -900px;
    }

    .categoryName {
        font-size: 1.3em;
    }

    footer > #footer-navbar > .column {
        width: 100px;
    }

    footer > #details > h1 {
        font-size: 1em;
    }

    #Buttons { 
        margin-top: 60px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        font-size: 0.8em;
    }

    .column {
        max-width: fit-content;
        height: fit-content;
    }

    .column-info {
        display: none;
    }

    .column-text {
        padding: 0;
    }

    #details {
        margin-top: 25px;
    }

    #Mednat-pharmacy {
        font-size: 0.8em;

        min-width: 245px;
    }

    #results-box {
        font-size: 0.8em;
    }

    .visit {
        width: 170px;
        height: 70px;
    }

    .visit:hover {
        width: 170px;
    }

    #searchLogo {
        display: block;
        position: relative;

        bottom: 25px;

        font-size: 200%;
        font-family: 'Calistoga', cursive;

        color: #000000;
    }

    .Browse_block {
        background: none;
        background: url(Assets/plant_home.png) center center;
        background-size: 220%;
    }

    #searchParagraph > p {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #Buttons {
        min-width: 200px;
        height: 350px;

        font-size: 0.7em;
    }

    .Logo {
        font-size: 2em;
    }

    .Info_about_us {
        font-size: 1.7em;
    }

    #results-number {
        font-size: 1.5em;
    }

    .slider {
        width: 256px;
        height: 133.3px;
    }

    #results-box {
        margin-top: 100px;
    }

    .category {
        width: 200px;
        height: 133.3px;
    }

    .photo_2 {
        width: 193px;
        height: 129.3px;
    }

    .photo_3 {
        width: 201px;
    }
    
    .mobile-navbar > a {
        min-width: 200px;

        font-size: 1.5em;
    }

    .manual-btn:not(:last-child) {
        margin-right: 20px;
    }

    .automatic-navigation > div:not(:last-child) {
        margin-right: 20px;
    }

    .manual-navigation {
        width: 204.6px;

        margin-top: -260px;
    }

    .automatic-navigation {
        width: 204.6px;

        margin-top: -260px;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .first {
        margin-left: -200px;
    }
    
    #radio3:checked ~ .first {
        margin-left: -400px;
    }
    
    #radio4:checked ~ .first {
        margin-left: -600px;
    }

    #searchBar {
        font-size: 0.4em;
    }

    #Mednat-pharmacy {
        margin-top: 80px;
    }
}

@media screen and (max-width: 320px) {
    footer {
        font-size: 0.7em;
    }

    #details {
        font-size: 0.8em;
    }

    #Buttons > li > a {
        font-size: 1.6em;
    }

    .Info_about_us {
        font-size: 1.4em;
    }

    .website-name {
        font-size: 1.5em;
    }

    #results-number {
        font-size: 1.2em;
    }

    #searchLogo {
        font-size: 150%;
    }
}